[Unit]
Description=Daily backups with restic
After=network.target
OnFailure=ntfy-send@%n.service

[Service]
Type=simple
ExecStart=%h/.local/lib/do_backup.zsh
Nice=10
