{{ ansible_managed | comment }}
# Backblaze repository settings
export B2_ACCOUNT_ID="{{ backblaze_account_id }}"
export B2_ACCOUNT_KEY="{{ backblaze_application_key }}"
export RESTIC_REPOSITORY="b2:{{ backblaze_bucket }}"
export RESTIC_PASSWORD="{{ restic_password }}"


# vim: set ft=zsh ts=4 sw=4 tw=0 et :
