[NetDev]
Name = {{ wireguard_interface }}
Kind = wireguard
Description = VPN

[WireGuard]
PrivateKey = {{ wireguard_private_key | mandatory }}

# server
[WireGuardPeer]
PublicKey = {{ wireguard_server.public_key }}
PresharedKey = {{ wireguard_preshared_key | mandatory }}
AllowedIPs = {{ wireguard_server.network_range }}
Endpoint = {{ wireguard_server.hostname }}:{{ wireguard_server.port }}
PersistentKeepalive = 25
