[Match]
Name = {{ wireguard_interface }}

[Network]
Address = {{ wireguard_client_ip | mandatory }}/32

[Route]
Gateway = {{ wireguard_server.ip | mandatory }}
Destination = {{ wireguard_server.network_range | mandatory }}
GatewayOnlink = true
