[Match]
Name = {{ wireguard_interface }}

[Network]
Address = {{ wireguard_client_ip | mandatory }}/32
Address = {{ wireguard_client_ipv6 | mandatory }}

[Link]
RequiredForOnline = no

[Route]
Destination = {{ wireguard_server.network_range | mandatory }}

[Route]
Destination = {{ wireguard_server.network_ipv6_range | mandatory }}
