{{ ansible_managed | comment }}
[Match]
Name = {{ wireguard_interface }}

[Network]
Address = {{ wireguard_client_ip | mandatory }}/32
Address = {{ wireguard_client_ipv6 | mandatory }}
Domains=wg.rded.nl
DNS=1.1.1.1

[Link]
RequiredForOnline = no

[Route]
Destination = {{ wireguard_server.network_range | mandatory }}

[Route]
Destination = {{ wireguard_server.network_ipv6_range | mandatory }}
