[WireGuardPeer]
PublicKey = {{ wireguard_public_key | mandatory }}
PresharedKey = {{ wireguard_preshared_key | mandatory }}
AllowedIPs = {{ wireguard_client_ip | mandatory}}
AllowedIPs = {{ wireguard_client_ipv6 | mandatory }}
