[Match]
Name = {{ wireguard_interface }}

[Network]
Address = {{ wireguard_server.ip | mandatory }}/32

[Link]
RequiredForOnline = no

[Route]
Gateway = {{ wireguard_server.ip | mandatory }}
Destination = {{ wireguard_server.network_range | mandatory }}
GatewayOnLink = yes
