{{ ansible_managed | comment }}
[Match]
Name = {{ wireguard_interface }}

[Network]
Address = {{ wireguard_server.ip | mandatory }}/24
Address = {{ wireguard_server.ipv6 | mandatory }}/96

[Link]
RequiredForOnline = no
