{{ ansible_managed | comment }}
set -g default-terminal "screen-256color"

{% if powerline_enabled %}
source "{{ powerline_site_packages_path }}/bindings/tmux/powerline.conf"
{% endif %}

# list of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-pain-control'

set -g history-file ~/.tmux/tmux_history
set-option -g history-limit 10000

# Initialize tmux plugin manager
run -b '~/.tmux/plugins/tpm/tpm'
