#!/bin/zsh

# settings
setopt AUTOCD
setopt EXTENDED_GLOB
setopt NO_BG_NICE
setopt NO_HUP
setopt NO_LIST_BEEP
setopt LOCAL_OPTIONS
setopt LOCAL_TRAPS
setopt HIST_VERIFY
setopt SHARE_HISTORY
setopt PROMPT_SUBST
setopt CORRECT
setopt COMPLETE_IN_WORD
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_REDUCE_BLANKS
setopt MULTIBYTE
setopt COMBINING_CHARS
setopt COMPLETE_ALIASES

for f in $HOME/.zsh/lib/*.zsh; do
    source $f;
done;

# Editor
export EDITOR=vim

# Path: add local python packages, ruby
export PATH="$HOME/.cargo/bin:$HOME/.local/bin:$PATH"

{% if ansible_service_mgr == "systemd" and shell_ssh_agent %}
# SSH Agent with Systemd
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
{% endif %}

# History
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

if [[ "$COLORTERM" == "gnome-terminal" ]]; then
    export TERM=xterm-256color
fi

# From http://dotfiles.org/~_why/.zshrc
# Sets the window title nicely no matter where you are
function title() {
  # escape '%' chars in $1, make nonprintables visible
  a=${(V)1//\%/\%\%}

  # Truncate command, and join lines.
  a=$(print -Pn "%40>...>$a" | tr -d "\n")

  case $TERM in
  screen)
    print -Pn "\ek$a:$3\e\\" # screen title (in ^A")
    ;;
  xterm*|rxvt)
    print -Pn "\e]2;$2:$3\a" # plain xterm title ($3 for pwd)
    ;;
  esac
}

function precmd {
    title "zsh" "%m" "%55<...<%~"
}

## Completion
autoload -U compinit
# pasting with tabs doesn't perform completion
zstyle ':completion:*' insert-tab pending

# Colours

if [ -e /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
    source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi

if [ -e "$HOME/.dircolors" ]; then
    eval $(dircolors "$HOME/.dircolors")
fi

{% if powerline_enabled|default(0) %}
if [ -e "{{ powerline_site_packages_path }}/bindings/zsh/powerline.zsh" ]; then
    source "{{ powerline_site_packages_path }}/bindings/zsh/powerline.zsh"
fi
{% endif %}

## aliases

alias ls='ls --color=auto --quoting-style=literal'
alias ll='ls -l --human-readable'
alias la='ls -l --almost-all --human-readable'
alias l='ls'
alias sl='ls'
alias cp='cp --reflink=auto'
alias irc='ssh irc@archeron.rded.nl -t tmux -L weechat -2u attach'
alias mirc='mosh irc@archeron.rded.nl tmux -L weechat -2u attach'
alias tmux="tmux -2u"
alias gdb="gdb -q"
alias gp="gp -q"

fpath=(~/.zsh/completions $fpath)

if [ -e "$HOME/.localrc" ]; then
    source "$HOME/.localrc"
fi

# initialize completion
compinit

#  vim: set ft=zsh ts=4 sw=4 tw=0 et :
